# MovieLens Dataset

In [5]:
from IPython.display import display, HTML
import pandas as pd
from recsys.utils.io import IOService

In [6]:
FILEPATH = "data/movielens/raw/rating.pkl"

In [7]:
rating = IOService.read(FILEPATH)

In [8]:
display(HTML('<h3>DataFrame Info</h3>'))
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
dtypes: float64(1), int64(2), object(1)
memory usage: 610.4+ MB

In [9]:
display(HTML('<h3>User / Movie Counts</h3>'))
d = {'Users': rating['userId'].nunique(), 'Movies': rating['movieId'].nunique(), 'Average Rating Count per User': rating['userId'].value_counts().mean(),'Median Rating Count per User': rating['userId'].value_counts().median(), 'Average Rating Count per Movie': rating['movieId'].value_counts().mean(), 'Median Rating Count per Movie': rating['movieId'].value_counts().median()}
df = pd.DataFrame.from_dict(data=d, orient='index', columns=['Count'])
df

                                    Count
Users                          138,493.00
Movies                          26,744.00
Average Rating Count per User      144.41
Median Rating Count per User        68.00
Average Rating Count per Movie     747.84
Median Rating Count per Movie       18.00

In [26]:
display(HTML('<h3>Top 10 Users</h3>'))
rating['userId'].value_counts(sort=True).to_frame('Counts')[0:10]
user_89305 = rating[rating['userId'] == 89305]
user_89305['movieId'].values

        Counts
118205    9254
8405      7515
82418     5646
121535    5520
125794    5491
74142     5447
34576     5356
131904    5330
83090     5169
59477     4988

array([ 10, 110, 150, 161, 165, 185, 231, 296, 316, 344, 349, 356, 380,
       434, 454, 457, 480, 590, 592, 593])

In [34]:
movies = user_89305['movieId'].values
neighbors = rating[rating['movieId'].isin(movies)]
neighbors
neighbors = neighbors[neighbors['userId'] != 89305]['userId'].values
neighbors

          userId  movieId  rating            timestamp
11             1      296    4.00  2005-04-02 23:32:47
17             1      593    3.50  2005-04-02 23:31:01
178            2      110    4.00  2000-11-21 15:30:58
183            2      480    5.00  2000-11-21 15:32:00
246            3      316    5.00  1999-12-14 12:51:10
...          ...      ...     ...                  ...
19999912  138493      356    5.00  2009-10-17 22:05:03
19999918  138493      434    4.00  2009-10-17 22:19:21
19999919  138493      480    4.50  2009-10-17 22:13:20
19999928  138493      590    4.50  2009-10-17 20:29:40
19999929  138493      592    4.00  2009-10-17 20:20:16

[834545 rows x 4 columns]

array([     1,      1,      2, ..., 138493, 138493, 138493])