# Cooccurrence Lab

In [5]:
import pandas as pd   
from IPython.display import display_html 

from recsys.services.io import IOService
from recsys.dataset.rating import RatingsDataset

In [6]:
space = "\xa0" * 10

## Test
The cooccurrene for users 36 and 69 are listed below; however, the test only shows 1, 10, and 208.

In [7]:
DESTINATION = "tests/testdata/operators/data_operators/cooccurrence/user_ratings_ctr_10pct.pkl"
corating = IOService.read(DESTINATION)
corating[(36,69)]

[1, 10, 208]

In [8]:
filepath = "tests/testdata/operators/data_operators/ratings_user_random_sample_10pct.pkl"
ratings = IOService.read(filepath)
a = ratings[(ratings['userId'] == 36)]
b = ratings[(ratings['userId'] == 69)]
c = a[['userId','movieId']].merge(b[['userId','movieId']], on='movieId', how='inner')
items = c['movieId'].values
d = a[a['movieId'].isin(items)]
e = b[b['movieId'].isin(items)]
df1_styler = d.style.set_table_attributes("style='display:inline'").set_caption('User 36')
df2_styler = e.style.set_table_attributes("style='display:inline'").set_caption('User 69')
display_html(df1_styler._repr_html_()+ space  + df2_styler._repr_html_(), raw=True)

,userId,movieId,rating,timestamp
5101,36,1,5.000000,"857,131,378"
5103,36,10,3.000000,"857,131,163"
5111,36,110,5.000000,"834,412,999"
5122,36,208,4.000000,"835,095,688"
5127,36,260,5.000000,"857,131,062"
5140,36,356,4.000000,"839,928,527"
5143,36,364,3.000000,"839,926,172"
5147,36,454,3.000000,"839,929,320"
5152,36,480,4.000000,"840,817,431"
5166,36,593,4.000000,"839,928,527"
5174,36,648,3.000000,"857,131,205"
5185,36,"1,073",3.000000,"857,131,590"
5187,36,"1,136",4.000000,"867,952,278"
5190,36,"1,196",5.000000,"857,131,774"
5191,36,"1,198",4.000000,"857,131,815"
5193,36,"1,210",5.000000,"858,776,192"
5196,36,"1,291",5.000000,"857,131,845"
,userId,movieId,rating,timestamp
8684,69,1,3.000000,"1,242,591,173"
8685,69,10,3.000000,"1,242,634,111"
8689,69,110,5.000000,"1,242,574,662"
8693,69,208,3.000000,"1,242,591,541"
8696,69,260,5.000000,"1,242,574,652"
8702,69,356,5.000000,"1,242,574,626"
8703,69,364,4.000000,"1,242,591,400"
8708,69,454,1.500000,"1,242,591,659"
8709,69,480,4.500000,"1,242,574,642"
8715,69,593,5.000000,"1,242,591,842"
8717,69,648,1.500000,"1,242,591,391"
8719,69,"1,073",4.000000,"1,242,634,119"
8722,69,"1,136",5.000000,"1,242,591,655"
8723,69,"1,196",5.000000,"1,242,577,937"
8724,69,"1,198",5.000000,"1,242,578,032"
8726,69,"1,210",5.000000,"1,242,577,919"
8732,69,"1,291",5.000000,"1,242,577,923"

## Vectorize Ids
Reindex user and item ids from 0 to n, then create a binary utility sparse matrix and see if we have enough memory to perform matrix multiplication to reveal related neighbors and items. Using the full dataset...

In [9]:
filepath = "data/movielens25m/raw/ratings.csv"
name = "ratings_raw"
description = "Ratings Dataset (Raw)"
df = IOService.read(filepath=filepath)

ratings = RatingsDataset(name=name, description=description,data=df)
ratings.summary()

TypeError: Can't instantiate abstract class RatingsDataset with abstract method _summarize