In [1]:
import pandas as pd

In [2]:
d = {'key': [(1,2), (2,3), (4,5)], 'value': 'hat'}
df = pd.DataFrame(data=d)
df

      key value
0  (1, 2)   hat
1  (2, 3)   hat
2  (4, 5)   hat

In [1]:
t = (1,2)
a,b = t
a
b

1

2