# Sampling Strategies

In [1]:
from recsys.persistence.fio import IOService

In [2]:
FILEPATH = "tests/data/rating.pkl"
ratings = IOService.read(FILEPATH)

## User Random Sampling

In [3]:
FRAC = 0.1
size = int(ratings.shape[0] * FRAC)

In [15]:
uc1 = ratings['userId'].value_counts(sort=False).to_frame().reset_index()
uc1.columns = ['userId', 'count']
uc1.head()
uc2 = uc1.sample(frac=1)
uc2['cumsum'] = uc2['count'].cumsum()
uc2.head()
users = uc2[uc2["cumsum"] <= 1000]['userId'].values
sample = ratings[ratings["userId"].isin(users)]
sample.head()

   userId  count
0  133019      5
1   45008     72
2    3575     47
3   97257     77
4   63377     35

        userId  count  cumsum
106088  126504      3       3
22734    94954     48      51
109809   82899      5      56
11409    98541    179     235
89330   131922      9     244

          userId  movieId  rating            timestamp
3172380    21664     1283    4.00  2005-02-27 00:07:18
3172418    21664     1374    3.00  2000-08-03 00:54:47
14269435   98541     2560    2.00  2004-12-04 20:52:30
19565295  135418       19    3.00  2007-09-12 01:37:36
3172875    21664     3249    4.00  2000-10-02 01:02:28

In [8]:
ratings[ratings['userId'] == 133019]

          userId  movieId  rating            timestamp
19223326  133019      662    3.00  1997-02-21 20:58:34
19223318  133019        9    2.00  1997-02-21 20:55:12
19223335  133019      832    4.00  1997-02-21 20:55:12
19223323  133019      260    4.00  1997-02-21 20:54:32
19223330  133019      762    2.00  1997-02-21 20:54:50