# Sampling Strategies

In [1]:
from IPython.display import display, HTML
import numpy as np
import pandas as pd
from recsys.services.io import IOService
from recsys.dataset.rating import RatingsDataset
from recsys.operator.data.sampling import TemporalInteractionThresholdSampling

## Temporal Interaction Threshold Sampling
Take the last umax user interactions and the last imax item interactions

### User Interaction Threshold Sampling

In [2]:
source = "tests/testdata/operators/data_operators/ratings.csv"
destination = "tests/testdata/operators/data_operators/sampling/temporaralthreshold/ratings_max_1000_interactions.pkl"
s = TemporalInteractionThresholdSampling(source=source, destination=destination, umax=1000, imax=1000, force=True)
s.execute()

          userId  movieId  rating   timestamp
3              1      665    5.00  1147878820
14             1     2068    2.50  1147869044
16             1     2351    4.50  1147877957
17             1     2573    4.00  1147878923
18             1     2632    5.00  1147878248
...          ...      ...     ...         ...
25000075  162541     7042    3.50  1240952153
25000080  162541     7193    5.00  1240950032
25000082  162541     8610    2.50  1240950626
25000083  162541     8905    3.00  1240949310
25000092  162541    56176    2.00  1240950697

[6233491 rows x 4 columns]

In [3]:
df1 = IOService.read(source)
df2 = IOService.read(destination)

In [4]:
ratings1 = RatingsDataset(name='ratings_raw', description="Ratings Raw", data=df1)
ratings2 = RatingsDataset(name='ratings_subsampled', description="Ratings Subsampled", data=df2)

In [5]:
ratings1.compare(ratings2)

                           ratings_raw  ratings_subsampled  % change
nrows                    25,000,095.00        6,233,491.00     75.07
ncols                             8.00                8.00      0.00
n_users                     162,541.00          135,642.00     16.55
n_items                      59,047.00           54,563.00      7.59
max_ratings_per_user         32,202.00            1,000.00     96.89
mean_ratings_per_user           153.81               45.96     70.12
max_ratings_per_item         81,491.00            1,000.00     98.77
mean_ratings_per_item           423.39              114.24     73.02
user_item_ratio                   2.75                2.49      9.69
item_user_ratio                   0.36                0.40    -10.73
size                    200,000,760.00       49,867,928.00     75.07
utility_matrix_size   9,597,558,427.00    7,401,034,446.00     22.89
memory                1,800,006,840.00      448,811,352.00     75.07
sparsity                         12.50               12.50      0.00
density                          87.50               87.50      0.00