# Similarity 
Create test and validation data for cosine, adjusted cosine, and pearson similarity matrices.

In [4]:
import pandas as pd
import numpy as np
from recsys.services.io import IOService
from recsys.data.dataset import Dataset

In [3]:
FILEPATH = "tests/testdata/operators/data_operators/sampling/temporaralthreshold/ratings_random_temporal_sampling_1000.pkl"
data = IOService.read(filepath=FILEPATH)
ds = Dataset(name="test", description='test', data=data)
ds.user_rating_frequency
ds.item_rating_frequency

        useridx  n_ratings
0         29466        878
1        141336        869
2        106326        860
3         65614        847
4         63818        839
...         ...        ...
141774    31281          1
141775    68184          1
141776    58291          1
141777   115389          1
141778   110595          1

[141779 rows x 2 columns]

       itemidx  n_ratings
0          654       1000
1        25537       1000
2         2221       1000
3         2232       1000
4         2263       1000
...        ...        ...
47166    34159          1
47167    22084          1
47168    23742          1
47169    25019          1
47170    16857          1

[47171 rows x 2 columns]

## Cosine Similarity
### Cosine User Similarity

In [7]:
u = 29466
v = 141336
ru = ds.get_user_ratings(u)[['useridx','itemidx', 'rating', 'rating_cu']]
rv = ds.get_user_ratings(v)[['useridx','itemidx', 'rating', 'rating_cu']]
Iuv = pd.merge(left=ru,right=rv, on='itemidx', how='inner')
Iuv

,useridx_x,itemidx,rating_x,rating_cu_x,useridx_y,rating_y,rating_cu_y
0,29466,5341,2.50,-0.02,141336,3.00,-0.51
1,29466,6219,3.50,0.98,141336,3.00,-0.51
2,29466,12975,3.00,0.48,141336,3.00,-0.51
3,29466,17584,3.00,0.48,141336,4.00,0.49
4,29466,17619,2.00,-0.52,141336,3.00,-0.51
5,29466,18141,3.00,0.48,141336,4.50,0.99
6,29466,18324,3.00,0.48,141336,3.50,-0.01
7,29466,18608,3.00,0.48,141336,4.00,0.49
8,29466,18709,3.50,0.98,141336,3.00,-0.51
9,29466,18801,4.00,1.48,141336,4.00,0.49
10,29466,18910,3.50,0.98,141336,4.00,0.49
11,29466,19026,3.50,0.98,141336,2.50,-1.01
12,29466,19163,2.00,-0.52,141336,4.50,0.99
13,29466,19328,2.50,-0.02,141336,3.00,-0.51
14,29466,19474,0.50,-2.02,141336,3.00,-0.51
15,29466,19493,2.00,-0.52,141336,4.50,0.99
16,29466,19745,0.50,-2.02,141336,3.00,-0.51
17,29466,19763,3.00,0.48,141336,2.50,-1.01
18,29466,19868,0.50,-2.02,141336,3.00,-0.51
19,29466,19961,2.00,-0.52,141336,3.00,-0.51
20,29466,20028,1.50,-1.02,141336,3.00,-0.51
21,29466,20088,2.50,-0.02,141336,2.50,-1.01
22,29466,20298,4.00,1.48,141336,3.00,-0.51
23,29466,20305,2.00,-0.52,141336,3.00,-0.51
24,29466,20317,3.50,0.98,141336,1.50,-2.01
25,29466,20350,3.00,0.48,141336,3.50,-0.01
26,29466,20376,2.00,-0.52,141336,2.50,-1.01
27,29466,20401,2.50,-0.02,141336,4.00,0.49
28,29466,20402,2.50,-0.02,141336,4.00,0.49
29,29466,20408,3.00,0.48,141336,3.50,-0.01
30,29466,20441,2.00,-0.52,141336,3.00,-0.51
31,29466,20493,3.50,0.98,141336,4.00,0.49
32,29466,20657,3.00,0.48,141336,3.50,-0.01
33,29466,20716,3.50,0.98,141336,3.50,-0.01
34,29466,20848,2.50,-0.02,141336,3.00,-0.51
35,29466,20922,3.00,0.48,141336,4.00,0.49
36,29466,20975,3.50,0.98,141336,2.50,-1.01
37,29466,21036,3.00,0.48,141336,3.50,-0.01
38,29466,21750,2.50,-0.02,141336,4.00,0.49
39,29466,23305,0.50,-2.02,141336,3.50,-0.01

In [ ]:
ru = Iuv['rating_x']
rv = Iuv['rating_y']
dp = np.dot(ru,rv)
norm = np.sqrt(np.square(np.sum(ru))*np.square(np.sum(rv)))
cs = dp/norm
cs

0.025086755349913243

## Cosine Item Similarity

In [ ]:
i = 654
j = 2221
ri = ds.get_item_ratings(i)[['itemidx', 'useridx','rating', 'rating_cu']]
rj = ds.get_item_ratings(j)[['itemidx', 'useridx','rating', 'rating_cu']]
Uij = pd.merge(left=ri,right=rj, on='useridx', how='inner')
Uij

In [ ]:
ri = Uij['rating_x']
rj = Uij['rating_y']
dp = np.dot(ri,rj)
norm = np.sqrt(np.square(np.sum(ri))*np.square(np.sum(rj)))
cs = dp/norm
cs